<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sub_menu.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='dark_mode.js') }}"></script>


</head>
    <body>

        {% include "navigation.html" %}
        <script>
            var dark_mode = "default";
            {% if user %}
                dark_mode = "{{session['user_dark_mode'] }}";
            {% endif %}
            set_dark_mode(dark_mode);
        </script>
        {% from "_formhelpers.html" import render_field %}

        <div class="formwrapper">
            <h2 class="title">Edit Profile</h2>
            <form method="POST" action="/edit">
                <div class="form-field"> {{ render_field(form.first_name) }}

                </div>
                <div class="form-field"> {{ render_field(form.last_name) }}

                </div>
                <div class="form-field">{{ render_field(form.email) }}

                </div>

                {{ form.submit }}
            </form>

        </div>
    </body>
</html>
